{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <!-- movies -->
    <div class="container pb-16 mt-12">
        <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">{{ title }}</h2>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
            {% for movie in movies %}
                {% include 'common/_movie_card.html.twig' %}
            {% endfor %}
        </div>
    </div>
    <!-- ./movies -->

{% endblock %}