{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}

    <!-- banner -->
    <div class="bg-cover bg-no-repeat bg-center py-36" style="background-image: url('https://img.freepik.com/free-photo/cinema-seats-still-life_23-2148115439.jpg?size=626&ext=jpg&ga=GA1.1.1883078379.1700440830&semt=ais');">
        <div class="container">
            <h1 class="text-6xl text-white font-medium mb-4 capitalize">
                Book cinema movie <br> tickets easily
            </h1>
            <p class="text-white">Browse through our movie lists<br>
                and choose the cinema seats easily</p>
            <div class="mt-12">
                <a href="/register" class="bg-primary border border-primary text-white px-8 py-3 font-medium
                    rounded-md hover:bg-transparent hover:text-primary">Register for free</a>
            </div>
        </div>
    </div>
    <!-- ./banner -->

    <!-- new arrival -->
    <div class="container pb-16 mt-12">
        <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">now playing</h2>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
            {% for movie in nowPlayingMovies %}
                {% include 'common/_movie_card.html.twig' %}
            {% endfor %}
        </div>
    </div>
    <!-- ./new arrival -->

    <!-- ads -->
    <div class="container pb-16">
        <a href="#">
            <img src="assets/images/offer.jpg" alt="ads" class="w-full">
        </a>
    </div>
    <!-- ./ads -->

    <!-- popular -->
    <div class="container pb-16 mt-12">
        <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">popular movies</h2>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
            {% for movie in popularMovies %}
                {% include 'common/_movie_card.html.twig' %}
            {% endfor %}
        </div>
    </div>
    <!-- ./populator -->

{% endblock %}
